<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="WorkflowEngineSOASoap12">
          <textMessageEncoding maxReadPoolSize="200000000" maxWritePoolSize="200000000"
            messageVersion="Soap12">
            <readerQuotas maxDepth="200000000" maxStringContentLength="200000000"
              maxArrayLength="200000000" maxBytesPerRead="200000000" maxNameTableCharCount="200000000" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="200000000" maxReceivedMessageSize="200000000"
            maxBufferSize="200000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://xxxxxxxxxxxxxxxx/BPMS/WebServices/WorkflowEngineSOA.asmx"
        binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12"
        contract="BZ.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
    </client>
  </system.serviceModel>
</configuration>