<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="WorkflowEngineSOASoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>

      <endpoint address="http://bizagi.compline.com.br/BPMS/WebServices/WorkflowEngineSOA.asmx"
          binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12"
          contract="BZ.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
    </client>
  </system.serviceModel>
</configuration>