<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
           
            <customBinding>
                <binding name="WorkflowEngineSOASoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
           
            <endpoint address="http://xxxxxxxxxxxxxx/BPMS/WebServices/WorkflowEngineSOA.asmx"
                binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12"
                contract="BZ.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
        </client>
    </system.serviceModel>
</configuration>
